.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;

    padding: 20px;
    min-height: calc(100vh - 200px);
    /* height: calc(100vh - 200px); */
    width: 100%;

    container-name: content;
    container-type: inline-size;
}

/* .content{
    display: flex;
    flex-direction: column;

    width: fit-content ;
    height: fit-content;
    align-self: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
}

.name{
    text-align: center;
}

.sectionName{
    text-align: center;
    border-bottom: 3px solid;
}

.section{
    display: flex;
    flex-direction: column;
    gap: 10px;

    filter: brightness(90%);

    border-radius: 10px;
    padding: 10px;
    background-color: inherit;
}

.section_item{
    display: flex;
    justify-content: space-between;
}

.subSection{
    display: flex;
    flex-direction: column;
} */

.imgContainer {
    position: relative;
    aspect-ratio: 3 / 4;
    width: 60%;

    border-radius: 10px;
    overflow: hidden;

    border: 5px solid;
    border-color: var(--shadow)
}

.button {
    background-color: #649aff;

    font-size: 1.3em;

    color: black;

    width: fit-content;
    height: fit-content;
    padding: 10px;

    border-radius: 10px;
    border: none;
}

@container content (max-width: 1280px) {
    .imgContainer {
        width: 90%;
    }
}

@container content (max-width: 1024px){
    .imgContainer {
        width: 95%;
    }
}

@container content (max-width: 768px) {
    .imgContainer {
        width: 98%;
    }
}