.container{
  display: flex;
  align-items: center;
  width: fit-content;
}

.links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.themeToggle{
  padding: 25px;
}

.menuButton, .menuButtonContainer, .motionContainer, .menuLinks, .hidden{
  display: none;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .motionContainer{
    display: flex;
    position: relative;
    /* align-self: center; */
  }

  .motionMenu{
    /* background-color: rgba(84, 124, 136, 0.7); */
    transition: background-color var(--transition-duration);
    background-color: var(--menu);
    position: absolute;
    align-self: center;
    top: -22px;
    right: 0px;
    width: 200px;
    height: 400px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: var(--accent2);

  }

  .menuButton {
    display: block;  
    cursor: pointer;
    position: absolute;
    right: 7px;    
    /* filter: invert(99%) sepia(2%) saturate(4234%) hue-rotate(314deg) brightness(101%) contrast(97%);*/
    filter: brightness(0) saturate(100%) invert(86%) sepia(28%) saturate(204%) hue-rotate(351deg) brightness(103%) contrast(96%);
    align-self: center;
  }

  .menuLinks{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 44px;
    padding-bottom: 20px;
  }

  .menuLink{
    margin: auto;
    width: fit-content;
    /* text-align: center; */
    padding: 10px;
  }

  .hidden{
    display: flex;
    margin-right: 58px;
  }
}