:root{
  --transition-duration: 1.5s;
}

[data-theme="light"] body {
  transition-duration: var(--transition-duration);

  --bg: #fae9cd;
  --accent1: #c1b8a9;
  --accent2: #628854;
  --link-active: var(--bg);
  --text: black;
  --navtext: var(--bg);
  --textSoft: rgb(109, 109, 109);
  --menu: white;

  --shadow: var(--accent1);

  --navGradient1: var(--accent2);
  --navGradient2: #547C88;

  --iconBrightness: 0%;

  --opacity: 0;

  --themeToggle_icon_offset: 1;
}


[data-theme="dark"] body {
  transition-duration: var(--transition-duration);

  --bg: #1a1a32;
  --accent1: #e8444a;
  --accent2: #7f71c5;
  --link-active: var(--bg);
  --text: white;
  --navtext: var(--bg);
  --textSoft: rgb(109, 109, 109);
  --menu: white;

  --shadow: #30305c;

  --navGradient1: var(--accent2);
  --navGradient2: var(--accent1);

  --iconBrightness: 100%;

  --opacity: 1;

  --themeToggle_icon_offset: -1;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1536px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 768px) {
  .container {
    height: fit-content;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 640px) {
  .container {
    height: fit-content;
    padding-left: 20px;
    padding-right: 20px;
  }
}