.container{
  display: flex;
  padding:25px;
  height: calc(100vh - 200px);
  background-color: var(--bgSoft);
  border-radius: 15px;
}

.textContainer{
  display: flex;
  flex-direction: column;
  height: 100%;
  flex:2;
  font-weight: bold;
  padding-right: 25px;
}

.title{
  display: flex;
  text-align: center;
  font-size: 5em;
  font-style: italic;
}

.section{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.intro{
  display: flex;
  text-align: center;
  font-size: 1.3em;
}

.iconContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.875em;
  justify-content: space-around;
}

.imgContainer{
  display: flex;
  flex: 1;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: auto;
  background-color: red;
}


.icon{
  display: flex;
  align-items: center;
  gap: 10px;
}


@media (max-width: 1536px) {
  .container {
    width: 1366px;
  }
}

/* 
@media (max-width: 1366px) {
  .container {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1024px;
  }
  .iconContainer{
    display: none;
  }
}


@media (max-width: 1024px) {
  .container {
    width: 768px;
  }

}

@media (max-width: 768px) {
  .container {
    width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    width: 475px;
  }

}
@media (max-width: 475px) {
  .container {
    width: 380px;
  }

} */



/* ########################################### */

